@model VegeFoods_MVC.Models.OurService
<head>
    <link rel="stylesheet" href="~/css/flaticon.css">
</head>
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit - Our Service</h1>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>please choose your SVG image <a href="https://www.flaticon.com/" target="_blank">in here.</a></p>
            <div class="form-group">
                <label asp-for="SVGImage" class="control-label"></label>
                <input asp-for="SVGImage" class="form-control" />
                <span asp-validation-for="SVGImage" class="text-danger"></span>
                <span class="@Html.DisplayFor(model => model.SVGImage)"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtitle" class="control-label"></label>
                <input asp-for="Subtitle" class="form-control" />
                <span asp-validation-for="Subtitle" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="my-3 form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@Html.Partial("_EditButtonSection")

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
