@model VegeFoods_MVC.Models.OurService
<head>
    <link rel="stylesheet" href="~/css/flaticon.css">
</head>
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OurService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>please choose your SVG image <a href="https://www.flaticon.com/" target="_blank">in here.</a></p>
            <div class="form-group">
                <label asp-for="SVGImage" class="control-label"></label>
                <input asp-for="SVGImage" class="form-control" />
                <span asp-validation-for="SVGImage" class="text-danger"></span>
                <span class="@Html.DisplayFor(model => model.SVGImage)"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtitle" class="control-label"></label>
                <input asp-for="Subtitle" class="form-control" />
                <span asp-validation-for="Subtitle" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="my-3 form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning btn-icon btn-sm mb-1" asp-action="Details" asp-route-id="@Model?.Id"><i class="bi bi-search"></i></a>
    <a class="btn btn-danger btn-icon btn-sm mb-1" asp-action="Delete" asp-route-id="@Model?.Id"><i class="bi bi-trash"></i></a>
    <a class="btn btn-primary btn-icon btn-sm mb-1" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
