@model VegeFoods_MVC.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit - Category</h1>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <img class="col-sm-12" src="~/images/@(Model.CategoryImage)" />
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input accept="image/*" asp-for="ImageFile" class="form-control" data-val="false" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CategoryImage" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn my-3 btn-primary" />
            </div>
        </form>
    </div>
</div>
@Html.Partial("_EditButtonSection")

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
